html, body {
  background: white;
  color: black;
  padding: 1em;
  border-radius: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

head {
  background: linear-gradient(to top right, blue, red);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  display: block;
}

footer {
  margin: 1em;
  margin-top: 2em;
  border-top: 1px solid black;
}

aside {
  float: right;
}

blockquote {
  font-style: italic;
}

blockquote::before {
  content: '“'
}

blockquote::after {
  content: '”'
}

button {
  outline: 0;
  border: 0;
  text-align: center;
  border-radius: 10em;
  overflow: hidden;
  background: linear-gradient(to top right, blue, red);
  color: white;
  padding: 0.5em;
  transition: box-shadow 1s;
}

button:hover {
  box-shadow: inset 0 0 5px white;
}

@media (prefers-color-scheme: dark) {
  html, body {
    color: white;
    background: black;
  }
  footer {
    border-top: 1px solid white;
  }
}